.product {
  background-color: #212121;
  margin-top: 7.8rem;
  color: #424242;
  padding: 0.5rem;
}
.cardStyle {
  text-decoration: none !important;
}
.card {
  background-color: #303030;
  border: none !important;
  box-shadow: 0.1rem 0.1rem 0.5rem #000000 !important;
  border-radius: 0.3rem;
}
.card:hover {
  box-shadow: 0.1rem 0.1rem 1rem #000000 !important;
  transition: 0.5s;
}
.shoes__img {
  height: 200px;
}
.card-title {
  font-size: 2.2rem;
}
.card-text {
  font-size: 1.3rem;
}
.search__div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0.5rem;
}
.search__div input {
  border-radius: 12px !important;
  outline: none !important;
  border: 1.2px solid;
  padding: 1.3rem;
}
@media (max-width: 1024px) {
  .product {
    margin-top: 6.4rem;
  }
}
@media (max-width: 767px) {
  .product {
    margin-top: 5.1rem;
  }
  .card-title {
    font-size: 2rem;
  }
  .card-text {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .product {
    margin-top: 4.6rem;
  }
}
@media (max-width: 540px) {
  .product {
    margin-top: 8.6rem;
  }
}
@media (max-width: 411px) {
  .product {
    margin-top: 8.5rem;
  }
}
@media (max-width: 414px) {
  .product {
    margin-top: 6.1rem;
  }
}
@media (max-width: 375px) {
  .product {
    margin-top: 5.1rem;
  }
}
@media (max-width: 320px) {
  .product {
    margin-top: 4.2rem;
  }
}
@media (max-width: 280px) {
  .product {
    margin-top: 4.1rem;
  }
}
